*{
    box-sizing: border-box;
}

header{
    height: 40px;
    border-bottom: 2px solid #EEE;
    box-shadow:0 8px 6px -6px black ;
}
header h1{
    text-align: center;
}
header h1 em{
    color: #FFBF46;
}
form{
    display: inline-block;
    width: 200px;
    height: 250px;
}

#imgContainer {
    margin-top: 40px;
    padding-left: 50px;
    display: inline-block;
    width: 200px;
    height: 250px;
}
#tableEl{
    width: 200px;
    height: 250px;
    border-radius: 15px;
}

th{
    display: table-cell;
    vertical-align: middle;
    border-width: 5px;
    padding:2px;
    width: 20px;
    border-style:solid;
}
td{
    vertical-align: middle;
    padding:2px;
    margin: 2px;
    width: 20px;
    border-style:solid;
}